@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body {
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
    height:100%;
}
::selection{
  background: #F36C44;
  color: #FFF;
}
input { outline: none; }

a{
  color: rgba(82,179,217,0.9);
}


.nickname_container {
   background: #00471b;
   width: 100%;
   height:100%;
   margin: 0;
   padding: 0;
   top: 0;
   left: 0;
   z-index:2000;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.nickname_container span {
	color:#FFF;
}

.nickname_container input {
	text-align:center;
	color:#FFF;
	font-size: 32px;
    width: 280px;
	height:50px;
	background: #dddddd;
	border:none;
    border-radius: 20px;
	border-bottom:1px solid #000000;
	margin:15px 10%;
}


/* Menu */
/* .navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
} */
.navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    right: -2000px;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    height: auto;
    padding: 15px;
    visibility: hidden;
}
.navbar__menu.active {
    background: #131313b5;
    right: -75%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    padding: 15px;
    margin-left: 75%;
    top: 100%;
    visibility: visible;
}
.navbar__item {
    width: 100%;
    color: white;
    list-style: none;
    padding: 0 5px 5px 5px;
    font-size: x-large;
}
.navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background: #ffff;
}
#mobile-menu {
    position: absolute;
    top: 20%;
    right: 2%;
    transform: translate(54, 20%);
}
.navbar__toggle .bar {
    display: block;
    cursor: pointer;
}
#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
@media screen and (max-width: 960px) {
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        right: 0;
        position: absolute;
        top: -1300px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }
    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: auto;
        margin-right: 68%;
    }
    .navbar__item {
        width: 100%;
        padding: 0 5px 5px 8px;
    }
    /* #mobile-menu {
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translate(54, 20%);
    } */
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
.clients {
    background: #dddddd;
    width: 200px;
    height: auto;
    margin-top: 55px;
    margin-right: 72%;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
}

.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background: #565656;
    z-index: 100;
}

.name, .last {
	position: absolute;
    left: 15px;
    font-family: 'Lato';
    cursor: default;
}
.name {
    font-size: 25px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    top: 3px;
}
.last{
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6); 
    top: 30px;
}
.clients {
    background: #D4D4D4;
}

/* Msgs */

.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}
.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid rgba(255, 255, 255, 0);
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #D4D4D4;
}

.msg span {
	font-size: 0.7rem;
    font-weight: bold;
    color: #969898;
}

.msg {
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #777;
}

.info {
	color:#FFF;
	background:#A2A4A4;
}

.msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

/* typping */

input.textarea {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 35px;
    z-index: 99;
    background: #f8f7f7;
    border: none;
    outline: none;
    padding:10px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}